For Profiling
To update charges
For Document Collection
For Medical Test
Medical on process
Fit to Work
For Medical Upload
For Gamca Test
Gamca On Process
Gamca Fit to Work
For Gamca Upload
Awaiting MOFA
For Visa Request
Awaiting Visa Release
On hold for balance payments
On hold for non cooperation
Endorsed for HO Clearance
Visa Expired
Visa Renewal On Process
Awaiting Visa Renewal Release
Medical Expired
For Remedical Test
Awaiting Remedical Release
Endorsed for Visa Stamping
Cleared For Visa Stamping
Visa Stamping On Process
Awaiting Visa Stamping Release
Endorsed for OEC
Cleared for OEC
Awaiting OEC
Endorsed to Travel
Cleared for Ticket Issuance
Awaiting Ticket
Awaiting Flight
Has Traveled
Cancelled
Unfit to work