
.oe_myrad span div{
    float: left; 
    width: 24px;
    height: 40px;
}

.oe_myrad span div span{
    float: left; 
    margin-top: 17px;
    height: 20px;
    width: 0px;
    margin-left: 2px;
}

.oe_myrad span div span label{
    margin-left: 2px;
}

.assessbox {
    margin-left: 60px; 
}

.assessbox  > div {
    width: 21px;
    display: inline-block;
}

.oeb_green , .oeb_white , .oeb_yellow, .oeb_red {
    width: 200px;
    background-image: none;
    background-color: green;
    font-weight: bold;
}

.assessbox div:nth-child(2) {
    padding-left: 8px;
}

.oeb_green div.stat_button_icon{
    background-color: green;
}

.oeb_white div.stat_button_icon{
    background-color: #FFFF99;
}

.oeb_yellow div.stat_button_icon{
    background-color: yellow;
}

.oeb_red div.stat_button_icon{
    background-color: red;
}


div.eg_dashcon {
    width: 370px; 
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #b8b8b8;
    margin: 20px; 
    padding: 24px 12px 60px 12px;
    background-color: #f8fcf7;
    position: relative;
    float: left;
}

div.eg_dashcon table tr > td {
    width: 145px;
}

div.eg_dashcon  h2 {
    margin-bottom: 32px;
    color: #7C7BAD;
    
}

div.eg_dashcon  span {
    color: #808080;
}

div.eg_dashcon div.eg_boxbutton {
    position: absolute;
    bottom: 14px;
    right: 14px;
    
    
    
}


